<li  class="nav-item dropdown"><!-- *ngIf="cartItems.length>0" -->
    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sepetiniz
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let cartItem of cartItems"><a class="dropdown-item" >{{cartItem.car.carName}}
            <span class="badge text-bg-secondary">{{cartItem.quantity}} </span>
            <span class="badge text-bg-secondary" ><!-- (click)="removeFromCart(cartItem.car)" --> Sil</span></a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sepete git</a></li>
    </ul>
</li>


<!-- <div class="dropdown dropleft">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa" style="font-size:24px">&#xf07a;</i>
      <span class='badge badge-warning' id='lblCartCount'> {{cartItems.length}} </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" *ngFor="let cartItem of cartItems">
        <div class="row">
          <div class="col-sm-3">
            {{ cartItem.car.carName }}
          </div>
          <div class="col-sm-3">
            {{ cartItem.car.dailyPrice | currency: "TRY":true }}
          </div>
          <div class="col-sm-3">
            <span  class="badge bg-danger">Delete</span>
          </div>
        </div>
      </a>
      <a class="dropdown-item"> <b>View cart</b> </a>
    </div>
  </div> -->