<div *ngIf="dataLoaded==false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün ara</label>
  <input type="text" class="form-control" id="filterText" placeholder="Ürünü giriniz"><!-- [(ngModel)]="filterText" -->
</div>
<!-- <div *ngIf="filterText.length>2" class="alert alert-primary">
  {{filterText}} aradınız.
</div> -->
<table *ngIf="dataLoaded==true" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Araba Adı</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyat</th>
      <th>Açıklama</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/cardetail/{{car.carId}}" *ngFor="let car of cars "><!-- | filterPipe:filterText -->
      <td>{{car.carId}}</td>
      <td>{{car.carName | uppercase}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice}}</td>
      <td>{{car.description}}</td>
      <td><button (click)="gotoCarDetailPage(car.carId)" type="button" class="btn btn-primary">İncele</button></td><!--  -->
    </tr>
  </tbody>
</table>