<div *ngIf="dataLoaded==false" class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<br>
<app-filter></app-filter>
<div class="mb-3">
  <label for="carfilterText" class="form-label">Araba ara</label>
  <input type="text" [(ngModel)]="carfilterText" class="form-control" id="filterText" placeholder="Arabayı giriniz">
</div>
<div *ngIf="carfilterText.length>1" class="alert alert-primary">
  {{carfilterText}} aradınız.
</div>
<table *ngIf="dataLoaded==true" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Araba Adı</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyat</th>
      <th>Açıklama</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr routerLink="/cardetail/{{car.carId}}" *ngFor="let car of cars | carFilter:carfilterText  ">
      <td>{{car.carId}}</td>
      <td>{{car.carName | uppercase}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.modelYear}}</td>
      <td>{{car.dailyPrice |currency:"₺"}}</td>
      <td>{{car.description}}</td>
      <td><button routerLink="/cars/carDetail/{{car.carId}}" type="button" class="btn btn-primary">İncele</button></td>
      <td><a (click)="addToCart(car)" type="button" class="btn btn-primary">Kirala</a></td>
    </tr>
  </tbody>
</table>